
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
  /* shard style */
  
  .display-flex{
    display: flex;
  }
  #tex-color{
    color:rgb(255, 173, 90) ;
  }
  #color-2{
    color:rgb(255, 89, 89) ;
  }
  .text-gray{
    font-weight: 400;
    font-size: 1.25rem;
    color: rgb(62, 62, 62);
  }
  .btn-1{
    width: 150px;
    height: 40px;
    font-weight: 500;
    color: white;
    border: none;
    background-color:rgb(255, 89, 89) ;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
  }
  .btn-2{
    width: 210px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: rgb(255, 89, 89);
    color: white;
    margin-top: 15px;
  }
  .amet{
    color: rgb(66, 66, 66);
  }
  /* banner-style */
  .bg{
    max-width: 1280px;
    margin: 0% auto;
  }
  .banner{
    justify-content: space-around;
    align-items: center;
  }
  .banner-title-box{
    max-width: 450px;
    text-align: center;
  }
  .banner-title{
    font-weight: 700;
    font-weight: 3.6rem;
    color: rgb(51, 51, 51);
    margin: 10px; border-left: 2px solid rgb(255, 173, 90);
    text-align: left;
  }
  /* mission */
  .mission-container{
   justify-content: space-between;
  margin-top: 30px;
  }
  .my-mission{
    max-width: 1100px;
    margin: 0% auto;
    text-align: center;
  }
 .text-bold{
    font-weight: 600;
    font-size: 1.50rem;
    color: rgb(0, 0, 0);
 }
 .mission-logo{
    margin-top: 20px;
    width: 110px;
 }
 .box-1{
    max-width: 310px;
    height: 325px;
    border-radius: 26px;
background: rgba(79, 157, 166, 0.1);
text-align: left;
padding-left: 15px;
 }
 .box-2{
    max-width: 310px; 
    height: 325px;
    border-radius: 26px;
    background: rgba(255, 89, 89, 0.1);
    text-align: left;
padding-left: 15px;
 }
 .box-3{
    max-width: 310px; 
    height: 325px;
    border-radius: 26px;
    background: rgb(255, 244, 214);
    text-align: left;
padding-left: 15px;
 }
 /* develop-section */
 .develop-section{
  margin-top: 30px;
  max-width: 1280px;
  text-align: center;
}
 .img-coding{
  max-width:350px ;
  height: 350px ;
 }
 .team2{
  width: 100%;
 }
 .limits-title{
  /* margin-top: 20px; */
  max-width: 580px;
  text-align: left;
 }
 .container-1{
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
 }

 .container-2{
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
 }
 .container-3{
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
/* application-container */
.application-container{
  max-width: 1280px;
  margin-top: 40px;
  text-align: center;
}
.app-section{
  max-width: 990px;
  margin-top: 20px;
  margin: 0 auto;
}
.app-box{
  justify-content: space-around;
  margin-top: 40px;
}
.app-deatils{
  max-width: 460px;
  text-align: left;
}
.app-img{
  max-width:310px;
}
.app-img{
  width: 100%;
}
/* footer container */
.footer-section{
  margin-top: 30px;
  max-width: 1280px;
  height: 157px;
 background-color:  rgb(11, 13, 23);;
 text-align: center;
}
.footer-title{
  font-size: 2.25rem;
  color: rgb(255, 255, 255);
  padding-top: 50px;
}
.fotter-desc{
  font-size: 0.8rem;
  color: rgb(217, 219, 225);
  padding-top: 20px;
}
.about{
  max-width: 320px;
  text-align: center;
  margin: 0% auto;
}
  /* respon */ 
  @media screen and (max-width:576px) {
    .banner, .container-3{
        flex-direction: column-reverse;
    }
    /* mission */
    .mission-container{
        flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 15px;
    }
    /* develop */
    .container-1, 
    .app-box, .container-2{
      flex-direction: column;
    }
    .limits-title, 
    .app-deatils, .app-img{
      text-align: center;
    }
     
    
    
  }